/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/

/* non-existent class for storing rgb values used later */
.color-reference {
  color: rgb(85, 229, 109);
  color: rgb(237, 237, 75);
  color: rgb(240, 70, 78);
  color: rgb(67, 72, 239);
}

@font-face {
  font-family: montserrat;
  src: url("../font/Montserrat-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: qurova;
  src: url("../font/QurovaDEMO-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: gidole;
  src: url("../font/Gidole-Regular.ttf");
  font-weight: thin;
  font-style: normal;
}

body {
  /* from lecture */
  font-family: "montserrat", "Times New Roman", Times, sans-serif;
  padding: 2rem;
  background: linear-gradient(
    to right,
    rgb(85, 229, 109) 5%,
    rgb(255, 255, 255) 5% 100%
  );
}

/* from lecture */
section {
  margin-top: 2em;
  margin-bottom: 2em;
}

#spacer {
  background-color: rgb(85, 229, 109);
  padding-top: 3em;
  position: relative;
  top: -2.5em;
}

.element {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: black;
}

p {
  margin-top: 0;
  /* from lecture */
  width: 75%;
  /* highlighted to show width */
}

nav a:hover,
nav a:focus {
  text-decoration: none;
}

code {
  background-color: #eee;
  padding: 0.5rem;
  display: block;
}

/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.button-nav {
  display: inline-block;
  padding: 0.5rem;
  color: white;
  background-color: rgb(240, 70, 78);
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.button-nav:hover,
.button-nav:focus {
  background-color: rgb(200, 200, 200);
}

/* got this from lecture */
.intext-link:hover,
.intext-link:focus {
  background-color: red;
}

/* looked at https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/filter */
.image-link:hover,
.image-link:focus {
  filter: drop-shadow(10px 10px 10px black);
}

/* from lecture, idea to put it all under one umbrella is from https://learn.shayhowe.com/html-css/building-forms/*/
.text-input {
  width: 20em;
  padding: 0.1em;
  background: linear-gradient(
    to bottom,
    rgb(85, 229, 109) 50%,
    rgb(237, 237, 75) 50% 100%
  );

  /* background: rgb(237, 237, 75); */
  border-radius: 8px;
}

.text-input-box {
  background: rgb(240, 70, 78);
  color: white;
  border-bottom-left-radius: 8px;
}

.text-input-box:hover,
.text-input-box:focus,
/* got this trick from here: https://stackoverflow.com/questions/16952526/detect-if-an-input-has-text-in-it-using-css-on-a-page-i-am-visiting-and-do-no */
.text-input-box:not(:placeholder-shown) {
  background: rgb(67, 72, 239);
  color: white;
  border-radius: 8px;
}

/* 
  TEXT ELEMENTS -------------------
*/

.qurova-text {
  font-family: "qurova", "montserrat", "Times New Roman", Times, sans-serif;
}
/* class for elements that use gidole, applied seperately because gidole doesn't like numbers */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "gidole", "montserrat", "Times New Roman", Times, sans-serif;
  margin-left: 5%;
  max-width: 50%;
}
/* set headers to use gidole first */

h1 {
  background-color: rgb(85, 229, 109);
  text-decoration-line: underline;
  text-decoration-color: rgb(237, 237, 75);
}

/* h2 {
  margin-top: 6rem;
}

h3 {
  font-style: italic;
  margin-top: 1rem;
}

h4 {
  margin-bottom: 0.25rem;
} */
li {
  font-family: "gidole", "montserrat", "Times New Roman", Times, sans-serif;
}

/* 
  COMBINED ELEMENTS -------------------
*/

.nav-main {
  background-color: rgb(85, 229, 109);
  display: flex;
  justify-content: right;
  max-width: 45%;
  margin-bottom: 5%;
  position: relative;
  top: -2.5em;
  padding-left: 45%;
  padding-right: 10%;
}

.nav-main-item {
  color: white;
  text-decoration: none;
  background-color: rgb(240, 70, 78);
  padding-left: 0.5%;
  padding-right: 0.5%;
  border-radius: 8px 8px 0 0;
  margin-left: 1%;
  margin-right: 1%;
}
.nav-main-item:hover,
.nav-main-item:focus {
  background-color: rgb(67, 72, 239);
}

.card-container {
  display: flex;
}

.product-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 20%;
  border-style: solid;
  border-color: rgb(85, 229, 109);
  border-width: 0.5em;
  border-radius: 8px;
  background-color: rgb(201, 190, 128);
  margin-left: 10%;
  height: fit-content;
}

.product-image {
  max-width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-bottom: 0;
}
.product-card-name,
.product-card-caption {
  margin: 0;
}

.product-card-name {
  background-color: rgb(85, 229, 109);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: larger;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.product-card-caption {
  justify-self: right;
  background-color: rgb(237, 237, 75);
  border-radius: 8px;
  padding: 0.3em;
}

.product-card-link {
  align-self: center;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

#cart-info {
  display: flex;
  max-width: 45%;
}

/* #product-list {
  display: flex;
  width: 45%;
} */

.product-listing {
  display: flex;
  max-width: 45%;
}

#checkout-total {
  display: flex;
  flex-direction: column;
  border-style: solid;
  width: fit-content;
  padding-right: 3%;
  margin-top: 2%;
  border-radius: 8px;
  border-color: rgb(85, 229, 109);
}

.charge-name {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

.charge-amount {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.cart-total {
  background-color: rgb(237, 237, 75);
  align-self: self-end;
  width: 100%;
}

.product-name,
.product-unit,
.product-price {
  border-style: solid;
  border-top: 0;
  margin: 0;
  font-family: gidole;
  flex: 1;
  border-color: rgb(85, 229, 109);
}

.product-name-img {
  max-width: 100%;
}

.product-name-label {
  font-family: "gidole", "montserrat", "Times New Roman", Times, sans-serif;
  font-size: x-large;
}

.product-unit {
  border-left: 0;
  border-right: 0;
}

.cart-label {
  border-style: solid;
  margin: 0;
  border-color: rgb(85, 229, 109);
}

.middle-box {
  border-left: 0;
  border-right: 0;
}

.left-box {
  border-top-left-radius: 8px;
}

.right-box {
  border-top-right-radius: 8px;
}

#payment-form {
  border-style: solid;
  border-radius: 8px;
  border-width: 12px;
  border-color: rgb(85, 229, 109);
  padding: 1em;
  max-width: 31rem;
}

#payment-selector,
#card-info,
#billing {
  display: flex;
  flex-direction: column;
}
